<!DOCTYPE html>
<head>
    <title>Directive | ngModel</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../Scripts/angular.js"></script>
</head>
<body ng:app>
    <div class="container">
        <br>
        <marquee class="display-4 text-primary bg-warning">Amazon Shopping Cart</marquee>
        <div class="row">
            <div class="col-sm-5">
                <h2>Product  Form</h2>
                <div class="form-group">
                    <label>Product Name</label>
                    <input type="text" ng-model="txtName" class="form-control" placeholder="eg: Tv">
                </div>
                <div class="form-group">
                    <label>Product Price</label>
                    <input type="text" ng-model="txtPrice" class="form-control" placeholder="eg: 1000.00">
                </div>
                <div class="form-group">
                    <label>Manufactured</label>
                    <input type="Date" ng-model="txtMfd" class="form-control" placeholder="eg: 2000/03.12">
                </div>
                <div class="form-group">
                    <label>Shipped To</label>
                    <select class="form-control" ng-model="lstCity">
                        <option value="">Select a City</option>
                        <option>Hyderabad</option>
                        <option>Delhi</option>
                        <option>Chennai</option>
                        <option>Mumbai</option>
                    </select>
                </div>
                <div class="form-group form-check">
                    
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" ng-model="isInStock">Yes(IsInStock)
                    </label>
                    
                </div>
            </div>
            <div class="col-sm-7">
                <h1 class="text-danger">Product Details Table</h1>
                <table class="table table-hover table-bordered table-dark text-white">
                    <tr class="bg-success text-uppercase text-center">
                        <td>Product</td>
                        <td>Details</td>
                    </tr>
                    <tr>
                        <td>Product Name</td>
                        <td>{{txtName}}</td>
                    </tr>
                    <tr>
                        <td>Product Price</td>
                        <td>{{txtPrice}}</td>
                    </tr>
                    <tr>
                        <td>Manufactured</td>
                        <td>{{txtMfd | date}}</td>
                    </tr>
                    <tr>
                        <td>Shipped To</td>
                        <td>{{lstCity}}</td>
                    </tr>
                    <tr>
                        <td>Is In Stock</td>
                        <td>{{(isInStock==true)?"Available" : "Out Of Stock"}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>