<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products List</title>
    <script src="angular.js"></script>
    <script src="angular-route.js"></script>
    <script>
        var app = angular.module('MyApp', ['ngRoute']);

        app.config(function ($routeProvider) {
            $routeProvider
                .when('/Details/:ProductId', {
                    templateUrl: 'details.html',
                    controller: 'DetailsController'
                })
                .when('/Create', {
                    templateUrl: 'create.html'
                })
                .when('/Edit/:ProductId', {
                    templateUrl: 'edit.html',
                    controller: 'EditController'
                })
                .when('/Delete/:ProductId', {
                    templateUrl: 'delete.html',
                    controller: 'DeleteController'
                })

        })

        app.controller('HomeController', function ($scope, $http, $window) {
            $scope.products = [];

            $window.onload = function() {
                $http.get('http://127.0.0.1:8080/getProducts')
                .then(function success(response) {
                    $scope.products = response.data;
                });
            }
           
            $scope.CreateProduct = function (product) {
                $scope.product = product;
                $http.post('http://127.0.0.1:8080/Create', $scope.product);
                alert('Product Created...')
            }

            $scope.EditProduct = function (editproduct) {
                $scope.editproduct = editproduct;
                $http.put('http://127.0.0.1:8080/Edit', $scope.editproduct);
                alert('Product Updated')
            }
            $scope.DeleteProduct = function (deleteproduct) {
                $scope.deleteproduct = deleteproduct;
                $http.delete('http://127.0.0.1:8080/Delete', $scope.deleteproduct);
                alert('Product deleted')
            }
        })
        app.controller('DetailsController', function ($scope, $route, $routeParams, $http) {
            $scope.product = [];
            $http.get("http://127.0.0.1:8080/Details/"+$routeParams.ProductId)
                .then(function (response) {
                    $scope.product = response.data;
                })
        })
        app.controller('EditController', function ($scope, $route, $routeParams, $http) {
            $scope.product = [];
            $http.get('/http://127.0.0.1:8080/Details/'+ $routeParams.ProductId)
                .then(function (response) {
                    $scope.product = response.data;

                })
        })
        app.controller('DeleteController', function ($scope, $route, $routeParams, $http) {
            $scope.product = [];
            $http.get('/Delete/' + $routeParams.ProductId)
                .then(function (response) {
                    $scope.product = response.data;
                })
        })
    </script>


</head>

<body ng-load ng-app="MyApp" ng-controller="HomeController">
    <h2 align="center">Product Index</h2>
    <div align="center">
        <a href="#Create">Create New</a>
    </div><br><br>
    <table border="1" width="800" align="center" cellpadding="4" cellspacing="4">
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Manufactured</th>
            <th colspan="3">Actions</th>
        </tr>
        <tr ng-repeat="item in products">
            <td>{{item.ProductId}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Price | currency:'&#8377'}}</td>
            <td>{{item.Manufactured | date:'MM-dd-yyyy'}}</td>
            <td><a href="#Details/{{item.ProductId}}">Details</a></td>
            <td><a href="#Edit/{{item.ProductId}}">Edit</a></td>
            <td><a href="#Delete/{{item.ProductId}}">Delete</a></td>

        </tr>
    </table>
    <div>
        <ng-view></ng-view>
    </div>
</body>

</html>