<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Api Functions | copy()</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <script src="../Scripts/angular.js"></script>
  <script>
    var app = angular.module("DemoApp", []);
    app.controller("HomeController", function($scope) {
      $scope.checked = false;
      $scope.shippingTo = {};
      $scope.copyAddress = function(user) {
        if($scope.checked === true) {
          angular.copy(user, $scope.shippingTo);
        } else {
          $scope.shippingTo = {};
        }
      }
    });
  </script>
</head>

<body ng-app="DemoApp" ng-controller="HomeController">
  <div class="container">
    <br>
    <div class=" w-25 p-4 border bg-light">
      <h2 class="text-center">User Details</h2>
      <div class="form-group">
        <label>Your Name</label>
        <input type="text" class="form-control" name="txtName" ng-model="user.txtName">
      </div>
      <div class="form-group">
        <label>City</label>
        <select class="form-control" ng-model="user.txtCity">
          <option>Hyd</option>
          <option>Mumbai</option>
          <option>Delhi</option>
        </select>
      </div>
      <div class="form-group">
        <label>Postal Code</label>
        <input type="text" class="form-control" ng-model="user.txtPin">
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" ng-model="checked" ng-change="copyAddress(user)"> Is Shopping Address Same as User Address ?
        </label>
      </div>
    </div> 
    <br>
    <div>
      <fieldset>
        <legend>Shipping To</legend>
        <dl>
          <dt>Name</dt>
          <dd>
            <input type="text" class="form-control-sm" ng-model="shippingTo.txtName">
          </dd>
          <dt>City</dt>
          <dd>
            <input type="text" class="form-control-sm" ng-model="shippingTo.txtCity">
          </dd>
          <dt>Pin</dt>
          <dd>
            <input type="text" class="form-control-sm" ng-model="shippingTo.txtPin">
          </dd>
        </dl>
      </fieldset>
    </div>
  </div>
</body>
</html>