<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filters | orderByDynanic row header</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../Scripts/angular.js"></script>
    <script>
      var app = angular.module("DemoApp", []);
      app.controller("HomeController", $scope => {
        $scope.products = [
          {id:1, name:'tv', price:45000.99, mfd: new Date('2019/08/12')},
          {id:2, name:'shoe', price:2500.99, mfd: new Date('2019/01/26')},
          {id:3, name:'mobile', price:15000.99, mfd: new Date('2019/06/12')},
          {id:4, name:'watch', price:599.99, mfd: new Date('2019/03/03')}
        ];
        $scope.sortColumn = 'id';
        $scope.sortReverse = false;
        $scope.sort = fieldName => {
          $scope.sortColumn = fieldName;
          if($scope.sortReverse) {
            $scope.sortReverse = false;
          } else {
            $scope.sortReverse = true;
          }
        }
      });
    </script>
    <style type="text/css">
     table th {
       cursor: pointer;
     }
    </style>
  </head>
  <body ng-app="DemoApp" ng-controller="HomeController">
    <div class="container">
    <h2 class="text-danger">Product Details</h2>
    <table class="table table-hover table-bordered">
      <thead class="bg-light text-uppercase">
          <th ng-click="sort('id')">ProductId</th>
          <th ng-click="sort('name')">ProductName</th>
          <th ng-click="sort('price')">Price</th>
          <th ng-click="sort('mfd')">Manufacture</th>
      </thead>
      <tbody>
        <tr ng-repeat="product in products | orderBy:sortColumn:sortReverse">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.mfd | date}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>